:host {
  display: block;
}

label {
  display: block;
  padding: 8px 16px;
}

input {
  margin-left: 0;
  margin-right: 8px;
}

fieldset {
  border: none;
  padding: 8px;
}

fieldset,
h2 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
}

.cabecalho {
  color: rgb(255, 255, 255, 0.8);
  background-color: #6f218e;
  padding: 8px 16px;
}
